<app-header></app-header>
<main class="col-md-9 ms-sm-auto col-lg-9 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Welcome to HSG Bullion<sup>®</sup></h1>
  </div>
  <div class="">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, dignissimos iure deserunt provident alias nemo nesciunt quibusdam quis voluptatibus aspernatur ad est mollitia beatae perspiciatis rerum atque temporibus! Optio, modi.
      <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem obcaecati cupiditate laboriosam repellendus quaerat. Mollitia dolorem ab, alias odit iste, nobis ullam doloribus ex deserunt impedit minus est suscipit consequatur.
    </p>
    <ul class="navbar-nav ml-auto px-3">
      <li class="nav-item">
        <a href="profile" class="nav-link fs-2 dark">{{currentUser.full_name}}</a>
      </li>
    </ul>
  </div>

</main>
<div class="b-example-divider b-example-vr"></div>

<ng-template #loggedOut>
  Please login.
</ng-template>