@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

svg {
  margin: 5px;
}

.h7 {
  font-size: 12px;
}

.jumbo {
  padding-top: 100px;
  min-height: 100vh;
}

// On Shrink
.shrink {
  .navbar {
    color: #fafafa;
    background: #00c6ff;
    background: -webkit-linear-gradient(55deg,#00c6ff 10%,#00c6ff 90%);
    background: linear-gradient(35deg,#00c6ff 10%,#00c6ff 90%);
  }
}

.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

/*
 * Sidebar
 */

.modal-content {
  margin: 2px auto;
  z-index: 1100 !important;
}

@media (min-width: 768px) {
  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }
  .navbar-search {
    display: block;
  }
}

.sidebar .nav-link {
  font-size: .875rem;
  font-weight: 500;
  color: #000;
  padding: 10px 30px;
}
  .sidebar .nav-link:hover, .active {
      color: #02730D;
      background: #eee;
      margin: 0 auto;
      border-radius: 5px;
      background-size: contain;
  }

.sidebar .nav-link.active {
  color: green;
  background: #eee;
  border-radius: 5px;
  background-size: contain;
}

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
}


.nav-link {
  color: green;
}

.nav-item>a:hover {
  color: green;
}

/*code to change background color*/
.navbar-nav>.active>a {
  background-color: #C0C0C0;
  color: green;
}