<footer class="pt-3 mt-4">
    <div class="main-footer-area">
        <div class="container">
            <div class="row">
                <div class="col-12 col-12">
                    <img src="assets/images/vision.png"alt="" style="display:block;width:50%;max-width:500px;margin:auto;">
                        <div class="footer-social-info">
                    </div>
                </div>            
            </div>
        </div>
    </div>
    <!-- <div class="blog-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                    
    <div class="articles_padding">
    <div class="row">

                <div class="blog-section-heading mb-50 ml-30">
                    <h3>Interesting articles</h3>
                </div>
                <table width="90%" height="auto" class="table table-borderless">
                    <tbody>
    <tr>
    <td><div class="single-blog-area blog-style-5 d-flex align-items-center">
                        
                        <div class="blog-thumbnail"><img src="assets/images/blog-img/blog-thumb-1.jpg" alt=""></div>
                        
                        <div class="blog-content">
                            <a href="https://www.visualcapitalist.com/how-silver-and-gold-bullion-premiums-calculated/" class="blogTitle" target="_blank">How are Silver and Gold Bullion Premiums Calculated?</a>
                            <div class="meta-data">
                                <a href="https://www.visualcapitalist.com/how-silver-and-gold-bullion-premiums-calculated/" target="_blank">visualcapitalist.com</a> |
                                <a href="https://www.visualcapitalist.com/how-silver-and-gold-bullion-premiums-calculated/" target="_blank">DEC 2015</a>
                            </div>
                        </div>
                    </div></td> 
    <td><div class="single-blog-area blog-style-5 d-flex align-items-center">
                        
                        <div class="blog-thumbnail"><img src="assets/images/blog-img/blog-thumb-1.jpg" alt="http://time.com/"></div>
                        
                        <div class="blog-content">
                            <a href="http://time.com/collection-post/4070299/secret-to-happiness/" class="blogTitle" target="_blank" alt="http://time.com/">The Secret to Happiness is helping others by Jenny Santi</a>
                        
    <div class="meta-data">
                                <a href="http://time.com/collection-post/4070299/secret-to-happiness/" target="_blank" alt="http://time.com/">www.time.com</a> |
                                <a href="http://time.com/collection-post/4070299/secret-to-happiness/" target="_blank" alt="http://time.com/">AUG 2017</a>
                        </div>
            </div>
        </div></td>
    <td><div class="single-blog-area blog-style-5 d-flex align-items-center">
                        
                        <div class="blog-thumbnail"><img src="assets/images/blog-img/blog-thumb-1.jpg" alt="Alan Greenspan’s remarks on a Gold Standard"></div>
                        
                        <div class="blog-content">
                            <a href="http://www.thebigresetblog.com/index.php/alan-greenspans-remarks-on-a-gold-standard/" class="blogTitle" target="_blank" alt="Alan Greenspan’s remarks on a Gold Standard">Alan Greenspan’s remarks <br>
                            on a Gold Standard</a>
                            <div class="meta-data">
                                <a href="http://www.thebigresetblog.com/index.php/alan-greenspans-remarks-on-a-gold-standard/" target="_blank" alt="http://time.com/">thebigresetblog.com</a> |                                    <a href="http://www.thebigresetblog.com/index.php/alan-greenspans-remarks-on-a-gold-standard/" target="_blank" alt="Alan Greenspan’s remarks on a Gold Standard">FEB 2017</a>
                            </div>
                        </div>
                    </div></td>
    </tr>


    <tr>
    <td><div class="single-blog-area blog-style-5 d-flex align-items-center">
                        
                        <div class="blog-thumbnail"><img src="assets/images/blog-img/blog-thumb-1.jpg" alt="International Co-operative Alliance"></div>
                        
                        <div class="blog-content">
                            <a href="https://www.providentmetals.com/knowledge-center/precious-metals-resources/precious-metal-investment-comparison.html?fbclid=IwAR2jh1__GWf2U2QQ1VDHKBPmhX8iHDxgh_4suzQN3qpRWKwn9USgJBO_d1k" class="blogTitle" target="_blank" alt="Provident-Metals">Which Precious Metal Should I Invest In?</a>
                            <div class="meta-data"><a href="https://www.providentmetals.com/knowledge-center/precious-metals-resources/precious-metal-investment-comparison.html?fbclid=IwAR2jh1__GWf2U2QQ1VDHKBPmhX8iHDxgh_4suzQN3qpRWKwn9USgJBO_d1k" target="_blank">providentmetals.com</a> | <a href="https://www.providentmetals.com/knowledge-center/precious-metals-resources/precious-metal-investment-comparison.html?fbclid=IwAR2jh1__GWf2U2QQ1VDHKBPmhX8iHDxgh_4suzQN3qpRWKwn9USgJBO_d1k" target="_blank" alt="provident-metals"> 2019</a>
                            </div>
            </div>
                    </div></td>
    <td><div class="single-blog-area blog-style-5 d-flex align-items-center">
                        
                        <div class="blog-thumbnail"><img src="assets/images/blog-img/blog-thumb-1.jpg" alt="http://www.goldnewswire.net/"></div>
                        
                        <div class="blog-content">
                            <a href="http://www.goldnewswire.net/files/whats-the-difference-between-coins-rounds-and-medallions/?fbclid=IwAR36cRvm2SqLOOkw_40675gPbv3g_JC6h9e4_NYNJYJ6EKgRtqze6VCNCIA" class="blogTitle" target="_blank" alt="http://www.goldnewswire.net/">Difference between coins, rounds, and medallions?</a>
                        
    <div class="meta-data">
                                <a href="http://www.goldnewswire.net/files/whats-the-difference-between-coins-rounds-and-medallions/?fbclid=IwAR36cRvm2SqLOOkw_40675gPbv3g_JC6h9e4_NYNJYJ6EKgRtqze6VCNCIA">www.goldnewswire.net</a> |
                                <a href="http://www.goldnewswire.net/files/whats-the-difference-between-coins-rounds-and-medallions/?fbclid=IwAR36cRvm2SqLOOkw_40675gPbv3g_JC6h9e4_NYNJYJ6EKgRtqze6VCNCIA" target="_blank" alt="http://www.goldnewswire.net//">MAR 2009</a>
                            </div>
            </div>
                    </div></td><td><div class="single-blog-area blog-style-5 d-flex align-items-center">
                    
                        <div class="blog-thumbnail"><img src="assets/images/blog-img/blog-thumb-1.jpg" alt="http://www.goldnewswire.net/"></div>
                        
                        <div class="blog-content">
                        <a href="https://www.abcbullion.com.au/investor-centre/blog/History-Lesson-Gold-and-Economic-Freedom?fbclid=IwAR3C1ubxC3CpIP9VVrzxNnJTYaDgPCmUCZ-Qr-meFE6QSV2CCA0J7KmBFPY" class="blogTitle" target="_blank" alt="https://www.constitution.org/">History Lesson - Gold and Economic Freedom</a>
                        
    <div class="meta-data"><a href="https://www.abcbullion.com.au/investor-centre/blog/History-Lesson-Gold-and-Economic-Freedom?fbclid=IwAR3C1ubxC3CpIP9VVrzxNnJTYaDgPCmUCZ-Qr-meFE6QSV2CCA0J7KmBFPY">www.abcbullion.com.au</a> | <a href="https://www.abcbullion.com.au/investor-centre/blog/History-Lesson-Gold-and-Economic-Freedom?fbclid=IwAR3C1ubxC3CpIP9VVrzxNnJTYaDgPCmUCZ-Qr-meFE6QSV2CCA0J7KmBFPY">APR 2012</a></div>
            </div>
                    </div></td></tr>

    </tbody>
    </table></div>

            
            </div>
                </div>
                    </div>	
                        </div>
    </div> -->
        <div class="bottom-footer-area">
        <div class="px-4">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 flex">
                    <p>All HSG Bullion<sup class="supp">®️</sup> Images and Content are subject to Copyright &copy; <br>
    HSG Bullion<sup class="supp">®️ ™️</sup> is a registered trademark</p>
                    <a href="https://www.hsgbullion.com/contact.php" class="contactBtn">Contact us</a>
                </div>
            </div>
        </div>
    </div>
</footer>